$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: #edcddfff
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

$color-text: #ffffffff

$body-font-family: "Proxima Nova", sans-serif 
$heading-font-family: "Proxima Nova", sans-serif 
$body-background-color: rgb(23, 7, 43)


$h2-weight: 900
$h2-font-family: "Proxima Nova bold"