html
    scroll-behavior: smooth
   


footer#document-footer
    padding-top: 0
    .container
        padding-bottom: 0
        div:first-child
            display: none
    + .container
        padding-top: 0


.hero 
    padding-bottom: 0


header
    .primary-menu
        .container
            color: rgb(23, 7, 43)
            .menu
                a, .search-button--primary, .search-button--upper-menu
                    color: rgb(23, 7, 43)

            
a::selection
    color: rgb(23, 7, 43)


header#document-header .primary-menu
    padding: 0.5rem


header 
    .primary-menu
        .container
            .menu
                a
                    text-transform: uppercase;
                    font-size: 14px